label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    padding: 20px;
    border: 1px solid #79797c;
    border-radius: 10px;
    margin-left: 40px;
}
.but {
    margin: 0 auto;
}
h2 {
 margin-left: 80px;   
}